<title>Random Question Generator</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="style.css" />
<script src="script.js"></script>
<h1 id='phrase'>Random Question Generator !</h1>
<button id='button' onclick="putPhraseOnThePage()">Generate</button>