* {
    font-family: "Helvetica";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #0E253A;
  }
  
  #phrase {
    text-align: center;
    color: rgba(255,255,255,0.8);
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  #button {
    padding: 5px 10px;
    background: #E6007E;
    border-color: #e6007e;
    color: white;
    transition: 200ms ease-in;
    user-select: none;
    font-size: 1rem;
  }
  
  #button:focus {
    outline: 0;
  }
  
  #footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    color: rgba(255,255,255,0.7);
  }
  
  #footer a {
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    border-bottom: solid 1px rgba(255,255,255,0.7);
    transition: 200ms ease-in;
  }
  
  #footer a:hover {
    color: rgba(255,255,255,0.9);
    border-bottom: solid 1px rgba(255,255,255,0.9);
  }
  
  #footer a:active {
    color: rgba(255,255,255,0.7);
  }
  
  .left, .right {
    position: absolute;
    bottom: 10px;
  }
  
  .left {
    left: 10px;
  }
  
  .right {
    right: 10px;
  }
  